/*$hex-width: 150px;
$hex-height: 86px;
$hex-background-size: 173px;
$hex-margin: 25px 5px;
$hex-gap-margin-left: 86px;
*/
$size: 6; 
$hex-size: $size * 1em; 
$hex-corner-background-size: 175px + calc-px($size); //equals to the size of images used
$hex-border-radius: $size * 0.065em;

$hex-width: $hex-size * 1.7;
$hex-height: $hex-size;
$hex-margin: ($hex-size/3.5) ($hex-size/20);
$hex-gap-margin-left: ($hex-size/1.04);

$hex-matrix-container-width: $hex-width * 2.2;

$hex-font-size: $size * 1.75px;


/*website color theme*/
/*doesn't work for highcharts*/
$base-color-one:#F14B56; /*red*/
$base-color-two:#3482CA;  /*blue*/
$base-color-three:#069090;  /*green*/
$base-color-four:#f59c1a;  /*yellow*/
$base-color-five:#5B659E;  /*purple*/
$base-color-six:#24272D;  /*black*/

//$base-color-one:#FF606E; /*red*/
//$base-color-two:#517398;  /*blue*/
//$base-color-three:#00DDD8;  /*green*/
//$base-color-four:#A6D8DE;  /*yellow*/
//$base-color-five:#6EC1C2;  /*purple*/
//$base-color-six:#2623CA;  /*black*/


/*hexes color theme*/

$hex-color-one:#E26A6A;
$hex-color-two:#674172;
$hex-color-three:#34495E;
$hex-color-four:#f59c1a;
$hex-color-five:#5B659E;
$hex-color-six:#F14B56;
$hex-color-seven:#F14B56;
$hex-color-eight:#069090;
$hex-color-nine:#445661;