/*
@import    'base/variables';
@import    'base/mixins';
@import    'base/extends';
 

@import    	'components/buttons';
@import		'components/forms';
@import   	'components/social-icons';
 

@import    	'modules/hex-nav';
@import     'modules/single-hex';
@import		'modules/tabs';
@import		'modules/tables';
*/
@import    	'base/variables';
@import     'base/mixins';
@import     'base/functions';
@import     'base/font-styles';
@import     'base/bootstrap-override';

@import     'modules/hex-nav';
@import     'modules/single-hex';
@import     'modules/title-bar';
@import     'modules/big-header';
@import     'modules/small-header';
@import     'modules/dashboard';
@import     'modules/index-page-alignments';
@import     'modules/success-stories';
@import     'modules/induction-material';

html{
	height:	100%;  	
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 11px;
    color:#333;
    background-color: #fff;
    margin:0;
    padding:0;
    height: 100%;  
  /*  @include breakpoint(tv){
        background-color: blue;    
    }
    @include breakpoint(desktop){
        background-color: green;    
    }
    @include breakpoint(tablet){
        background-color: red;    
    }
    @include breakpoint(phablet){
        background-color: yellow;    
    }
    @include breakpoint(mobile){
        background-color: white;    
        } */
    }
p{
    font-size: 1.1em;
    color: #555;
    text-align: justify;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}


