.header-text{
	color:$base-color-six;
    font-size: 3em;
	letter-spacing: -3px;
	margin-left:0.4em;

	.head-first{
	  font-size: 0.82em;
	  letter-spacing: 0px;
	}

	.head-one{
	color:$base-color-two;
	}

	.head-two{  
	color:$base-color-three;
	}

	.head-three{
	color:$base-color-one;
	}

	.head-four{
	color:$base-color-four;
	}
}

.header-text:hover{
	cursor:pointer;
}
