.storyMain{
    margin-top: 2em; 

    .visibleStory{
        height: 10em;
		background: linear-gradient(to left, white 50%, rgba(91,101,158,0.4) 50%);
        background-size: 200% 100%;
        background-position:right bottom;
        margin-left:10px;
        transition:all 0.5s ease;
		border-left : 2px solid #5B659E;
		padding: 0px 5px;  

        h4 {
            font:{
                size: $sub-header-font;
                weight:bold;
                }       
                margin:0;  
        }

        hr {
            border-bottom: 1px solid #ccc;
            width:100%;
            margin: ($hex-font-size) auto;
        }

        p {
            font:{
              size: $hex-font-size * 1.2;
            }
            text-shadow: none;
        }
    }
	
	.visibleStory:hover {
    background-position:left top;  
	}
	
}
	
	.glyphicon-2x{
	  font-size:2em;
	}
	
	.float-right{
	float:right;
	}

