#small-title-bar{
	@include breakpoint(tv){
		display: none;	
	}

	@include breakpoint(desktop){
		display: none;	
	}

	@include breakpoint(tablet){
		display: block;	
		position: fixed;
	}

	@include breakpoint(phablet){
		display: block;	
		position: fixed;
	}

	@include breakpoint(mobile){
		display: block;	
		position: fixed;
	}
}
#big-title-bar{
	@include breakpoint(tv){
		display: block;	
		position: fixed;
	}

	@include breakpoint(desktop){
		display: block;	
		position: fixed;
	}
	@include breakpoint(tablet){
		display: none;	
	}

	@include breakpoint(phablet){
		display: none;	
	}

	@include breakpoint(mobile){
		display: none;	
	}
} 